* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.backg {
  background-color: #0067ac;
  height: auto;
}
nav {
  background-color: #115473;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  font-size: 1.05em;
  color: #1aae9f !important;
}

.nav-link::after {
  display: block;
  content: '';
  border-bottom: 2px solid #1aae9f;
  transform: scaleX(0);
  transition: transform 500ms cubic-bezier(1, 0.19, 0, 0.86);
  transform-origin: left;
}
.nav-link:hover::after {
  transform: scaleX(1);
}

.navbar > .active > a {
  color: white !important;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
th {
  background-color: red !important;
  padding: 1rem 1.85rem !important;
}
